/*GENERAL RULES*/
main {
	background-color: #9D2053;
	color: white;
}

.vh70 {
	min-height: 70vh;
	width: 100%;
	text-align: center;
}

.bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
}

.banner-caption {
	font-family: 'Fredericka the Great', cursive;
	color: #941e4d;
	border-top: 5px double #941e4d;
	border-bottom: 5px double #941e4d;
}

.bangers {
	font-family: 'Bangers';
}

@media screen and (max-width: 479px) {

  	.navbar-header {
		background-color: rgba(0, 0, 0, 0.8);
		transition: 500ms ease-in-out;
	}

	.navbar-nav {
		background-color: rgba(0, 0, 0, 0.8);
		margin: 0px;
	}

	.navbar-collapse {
		padding: 0px;
		border-radius: 0 0 5px 5px;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: 0px;
	}
	
	.navbar-default > .container > .navbar-collapse > .navbar-nav > li > a {
	color: #f6d5e2;
	font-weight: bolder;
	}

	.login-overlay .popup {
    width: 70%;
 	}

 	.tour .bangers {
  		font-size: 7em;
  	}

  	.merch-caption > h1,
  	.new-album > h1 {
  		font-size: 3em;
  	}

  	.navbar-brand {
	font-size: 14px;
	}

	.merch-filter {
		width: 100%;
	}

	.merch .btn-lg {
		margin-bottom: 30px;
	}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
 	header > .container > h1 {
    font-size: 5em;
  	}
  	
  	.navbar-header {
		background-color: rgba(0, 0, 0, 0.8);
		transition: 500ms ease-in-out;
	}

	.navbar-nav {
		background-color: rgba(0, 0, 0, 0.8);
		margin: 0px;
	}

	.navbar-collapse {
		padding: 0px;
		border-radius: 0 0 5px 5px;
	}

	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: 0px;
	}

	.navbar-default > .container > .navbar-collapse > .navbar-nav > li > a {
	color: #f6d5e2;
	font-weight: bolder;
	}

	.login-overlay .popup {
    width: 70%;
 	}

 	.tour .bangers {
  		font-size: 8em;
  	}

  	.merch-caption > h1,
  	.new-album > h1 {
  		font-size: 3.5em;
  	}

  	.navbar-brand {
	font-size: 16px;
	}

	.merch-filter {
	margin-left: 16.66666667%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  	header > .container > h1 {
    font-size: 6em;
  	}

  	.login-overlay .popup {
    width: 50%;
 	}

 	.tour .bangers {
  		font-size: 8em;
  	}

  	.merch-caption > h1,
  	.new-album > h1 {
  		font-size: 3.5em;
  	}

  	.navbar-brand {
	font-size: 22px;
	}

	.merch-filter {
	margin-left: 16.66666667%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
 	header > .container > h1 {
    font-size: 7em;
  	}

  	.tour .bangers {
  		font-size: 8em;
  	}

  	.merch-caption > h1,
  	.new-album > h1 {
  		font-size: 4em;
  	}

  	.navbar-brand {
	font-size: 22px;
	}
}

@media screen and (min-width: 1200px) {
  	header > .container > h1 {
    font-size: 8em;
  	}

  	.tour .bangers {
  		font-size: 8em;
  	}

  	.merch-caption > h1,
  	.new-album > h1 {
  		font-size: 4em;
  	}

  	.navbar-brand {
	font-size: 22px;
	}
}
/*/GENERAL RULES*/

/*BANNER*/
.bg-main {
	background-image: url(../images/banner.jpeg);
	width: 100%;
	height: 100vh;
	padding: 0px;
}

header > .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bg-main > .container > h1 {
	font-family: 'Monoton', cursive;
	text-shadow: 0 0 25px black;
	color: #d8417d;
}
/*/BANNER*/

/*NAVBAR*/
header > .navbar-default {
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
	color: #d8417d;
	font-weight: bolder;
}

.navbar {
	border: 0px;
	z-index: 10;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
	color: #f2c0d4;
	transition: 0.5s ease;
}

.nav-link {
	position: relative;
}

.nav-link:before {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	color: #f6d5e2;
    font-size: 2em;
	position: absolute;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-link1:before {
	content: "\f015";
}

.nav-link2:before {
	content: "\f07a";
}

.nav-link3:before {
	content: "\f073";
}

.nav-link4:before {
	content: "\f001";
}

.nav-link5:before {
	content: "\f007";
}

.nav-link:hover:before,
.nav-link:focus:before,
.nav-link:active:before {
	opacity: 1;
}

.nav-link:hover span {
	opacity: 0;
	transition: 200ms ease-in-out;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #d8417d;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-brand {
	font-family: 'Finger Paint', cursive;
}
/*/NAVBAR*/

/*TOUR*/
.tour .jumbotron {
	margin: 0 auto 30px;
	color: #333
}

.tour {
	padding: 0px 15% 0px;
}
/*/TOUR*/

/*LOG IN MODAL*/
.login-overlay {
	position: fixed;
	top 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	height: 100%;
	z-index: 9999;
}

.login-overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 3px;
	width: 30%;
	position: relative;
	transition: all 1s ease-in-out;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #d8417d;
}

.popup .close:hover {
	content: #d8417d;
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

.popup h2 {
	margin-top: 0;
  	color: #333;
}

.popup form {
	padding-bottom: 5px;
}

.btn-custom {
  color: #fff;
  background-color: #be2764;
  border-color: #9D2053;
}
.btn-custom:focus,
.btn-custom.focus {
  color: #fff;
  background-color: #9D2053;
  border-color: #be2764;
}
.btn-custom:hover {
  color: #fff;
  background-color: #9D2053;
  border-color: #3f0d21;
}
/*/LOG IN MODAL*/

/*MERCH*/
main .merch {
	background: linear-gradient(rgba(157, 32, 83, 0.1), rgba(157, 32, 83, 0.1)), url(../images/merch.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	background-attachment: fixed;
	position: relative;
}

.merch-caption {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.merch-body h3 a {
	text-decoration: none;
	color: white;
	padding-right: 10px;
}

.merch-body h3 a:hover,
.merch-body h3 a:focus {
	text-decoration: none;
	color: #f2c0d4;
}
/*/MERCH*/

/*NEW ALBUM*/
main .new-album {
	background-image: linear-gradient(rgba(157, 32, 83, 0.1), rgba(157, 32, 83, 0.1)), url(../images/new-album.jpg);
	color: #d8417d;
}

.new-album img {
	margin: 20px auto 30px;
}
/*/NEW ALBUM*/

/*FOOTER*/
footer {
	width: 100%;
	min-height: 20vh;
	text-align: center;
	padding: 30px 0 30px;
}

footer .input-group {
	width: 40%;
	margin: 0 auto;
}

footer .input-group span {
	color: #333
}

footer ul {
	list-style: none;
	padding: 0px;
}

footer li {
	display: inline-block;
	padding: 0 10px 0;
}

footer img {
	width: 40px;
	transition: 300ms;
}

footer img:hover {
	filter: blur(2px);
}
/*/FOOTER*/

/*MERCHANDISE SECTION*/
.bg-merch {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/shirt.jpeg);
	width: 100%;
	height: 100vh;
	padding: 0px;
}

.merch-body {
	width: 100%;
}

.merch-body .merch-filter,
.merch-display {
	padding: 20px;
}

.merch-body h3 {
	float: right;
}

.merch-filter {
	max-width: 550px;
}

.thumb {
	margin-bottom: 30px;
	position: relative;
}

.thumb img {
	border: 5px solid white;
	border-radius: 5px;
	box-shadow: 0 0 10px black;
}

.merch-pic {
	display: block;
	transition: all 500ms ease;
	backface-visibility: hidden;
	margin: 0 auto;
}

.merch-popup {
	transition: 500ms ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	background-color: white;
	border: 1px solid #204060;
	border-radius: 5px;
	box-shadow: 0 0 25px black;
	color: black;
	padding: 20px;
	text-align: center;
}

.thumb:hover .merch-pic {
	filter: blur(5px);
}

.thumb:hover .merch-popup {
	opacity: 1;
}

.merch-popup > h4, h5 {
	font-weight: bolder;
	margin: 5px 0 5px;
}
/*/MERCH SECION*/

/*TOUR SECTION*/
.bg-tour {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tour.jpg);
	width: 100%;
	height: 100vh;
	padding: 0px;
}

.tour-container {
	padding: 30px 15px 15px;
}

.tour-container .location {
	font-weight: bolder;
	font-size: 23px;
}

.tour-container .tour-row {
	padding: 10px 0 10px;
}

.tour-container .tour-row:hover {
	background-color: #7f1a42;
}

.tour-container hr {
	margin: 0;
}

.tour-container button {
	margin: 5px 0 5px;
}
/*/TOUR SECTION*/

/*DISCOGRAPHY*/
.bg-discography {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/discography.jpeg);
	width: 100%;
	height: 100vh;
	padding: 0px;
}

.album-container {
	margin: 0 auto;
}

.album-thumb {
	position: relative;
	margin: 30px 0 0;
}

.album-art {
	opacity: 1;
	display: block;
	height: auto;
	transition: 500ms ease;
	backface-visibility: hidden;
	margin: 0 auto;
}

.album-popup {
	transition: 500ms ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	background-color: #336699;
	border: 1px solid #204060;
	border-radius: 5px;
	box-shadow: 0 0 25px black;
	color: white;
	padding: 0 20px 0;
	text-align: center;
}

.album-thumb:hover .album-art {
	opacity: 0.3;
}

.album-thumb:hover .album-popup {
	opacity: 1;
}

.album-popup > h3 {
	font-weight: bolder;
}
/*/DISCOGRAPHY*/

/*ANIMATIONS*/
.animated-album {
	animation-name: neonglow;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes neonglow {
	0% {
		box-shadow: 0 0 0px purple;
	}

	100% {
		box-shadow: 0 0 50px purple;
	}
}

.animated-banner {
	animation-name: bannerblur;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-direction: alternate;
}

@keyframes bannerblur {
	0% {
		filter: blur(5px);
	}

	100% {
		filter: blur(0px);
	}
}

.fa-shopping-cart {
	animation-name: shoppingcart;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
}

@keyframes shoppingcart {
	0% {
		transform: translateX(-30px);
		opacity: 0;
	}

	20% {
		transform: translateX(0px);
		opacity: 1;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.arrow-container {
	position: absolute;
	top: 80%;
	left: 50%;
}

.arrow-container span {
	border-left: 4px solid white;
	border-bottom: 4px solid white;
	height: 30px;
	width: 30px;
	animation: down 2s infinite;
	animation-timing-function: ease-in-out;
	position: absolute;
}

@keyframes down {
	0% {
		transform: rotateZ(-45deg) translate(0, 0);
		opacity: 0;
	}

	100% {
		transform: rotateZ(-45deg) translate(-20px, 20px);
		opacity: 1;
	}
}
/*/ANIMATIONS*/

